<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="65535" executionTimeout="600" targetFramework="4.5"/>
    <pages maintainScrollPositionOnPostBack="true"/>
 </system.web>
  <system.net>
    <mailSettings>
      <smtp from="hemi8095481467@outlook.com" deliveryMethod="Network">
        <network host="smtp-mail.outlook.com" port="587" userName="hemi8095481467@outlook.com" password="Hello080" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=HEMANTH\SQLEXPRESS;Initial Catalog=AHRMSDUM;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>